    .foto{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    img{
        width: 150px;
        height: auto;
    }

    .centering{
        display: grid;
        grid-template-columns: repeat(autofill, minmax(150px, 1fr));
        gap: 10px;
    }